# Masold .env nevre, ha el akarsz terni az alapertelmezesektol.
# (A .env NINCS verziokezelve.)

POSTGRES_DB=help_infinityhu
POSTGRES_USER=help
POSTGRES_PASSWORD=help

# a PHP ezzel az olvaso felhasznaloval csatlakozik (db/99_docker_readonly_user.sql hozza letre)
HELP_DB_USER=help_ro
HELP_DB_PASS=help_ro

DB_PORT=5433
WEB_PORT=8080

# --- gepi forditas (nem kotelezo) ---
# none | deepl | libre | google
HELP_MT_PROVIDER=
HELP_MT_ENDPOINT=
HELP_MT_KEY=

# ha a beepitett LibreTranslate kontenert hasznalod:
#   docker compose --profile mt up -d
#   HELP_MT_PROVIDER=libre
#   HELP_MT_ENDPOINT=http://libretranslate:5000
MT_PORT=5050
